# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.gitignore
*node_modules
*/.pnp
*.pnp.js
*package-lock.json

# next.js & production
*.json
*/out/
*/build
*next
*/.next
*/.vscode
*.pack.*
*/webpack/*

# misc
*.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
*.env*.local
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Images
# *assets*

# JetBrains
.idea/**
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/prettier.xml
!.idea/vcs.xml
!.idea/modules.xml